{{ partial "header.html" . }}

<main id="main" class="portfolio">
    <div class="fixed-section-title fixed-webxr">
        <div class="caption">
            <span class="border">Portfolio</span>
        </div>
    </div>
    <div class="container">

        <div class="row topspace">
            <div class="col-sm-8 col-sm-offset-2">

                {{ range .Pages.ByParam "id" }}
                <article class="post">
                    <header class="entry-header">
                        <div class="entry-meta">
                            <span class="posted-on"><time class="entry-date published"
                                    date="{{ .Date }}">{{ dateFormat .Site.Params.DateForm .Date }}</time></span>
                        </div>
                        <h1 class="entry-title">{{ .Title | safeHTML   }}</h1>
                    </header>
                    <ul class="tags">
                        {{ range .Params.tools }}
                        <li class="tag">
                            {{ . }}
                        </li>
                        {{ end }}
                    </ul>
                    <div class="entry-content {{ .Params.format }}">
                        <div class="portfolio-media">
                            {{ if .Params.video }}
                            <video width="100%" controls poster="{{ .Params.poster }}">
                                <source src="{{ .Params.video }}" type="video/mp4">
                            </video>
                            {{ else }}
                            <img width="100%" src="{{ .Params.image }}">
                            {{ end }}
                        </div>
                        <div class="portfolio-content">
                            {{ .Content }}
                        </div>
                        {{ if .Params.github }}
                        <div>
                            <i style="font-size:1.2em" class="fa fa-github fa-2"></i> &nbsp; <a
                                href="{{ .Params.github }}" target="_blank">{{ .Params.github }}</a>
                        </div>
                        {{ end }}
                        {{ if .Params.link }}
                        <div>
                            <i style="font-size:1.2em" class="fa fa-link fa-2"></i> &nbsp; <a href="{{ .Params.link }}"
                                target="_blank">{{ .Params.link }}</a>
                        </div>
                        {{ end }}
                    </div>

                </article>
                {{ end }}

            </div>
        </div>

    </div> <!-- /container -->

</main>

{{ partial "footer.html" . }}