<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Weblog of Timmy Kokke on Web design, javascript game development, and virtual/augmented/mixed reality.">
	<meta name="author"      content="Timmy Kokke">
	<meta name="theme-color" content="#bd1550">
	<meta name="monetization" content="$coil.xrptipbot.com/B6BW9YpKR22WWbQOJ4GsPg">
	
	<meta property='og:title' content='{{ .Title }}'/>	
	<meta property='og:description' content='{{ .Description }}'/>
	<meta property='og:url' content='{{ .Permalink }}' />

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/{{ .Site.Params.favicon }}">
	<link rel="manifest" href="{{ .Site.BaseURL }}/manifest.json"></link>
	<!-- Bootstrap -->
	 <link defer href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link defer href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link defer rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,700">
	<!-- Custom styles -->

	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/styles.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

	<script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=5b5ce62a4970c900111bbb9b&product=sop' async='async'></script>

    <script type="text/javascript" src="{{ .Site.BaseURL }}/sw-register.js"></script>
	{{ range .AlternativeOutputFormats -}}
    	{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
	{{ end -}}
</head>
<body class="home">

<header id="header">
	
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.BaseURL }}/images/guy.jpg" alt="">
			<span class="title">{{ .Site.Params.name }}</span>
			<span class="tagline">{{ .Site.Params.description }}</span>			
			
			
			<span><a class="social-link" title="YouTube" rel="noreferrer noopener" target="_blank" href="https://youtube.com/sorskoot"><img title="YouTube Logo" src="/images/youtube-3-64.png"/></a-href></span>
			<span><a class="social-link" title="Twitter" rel="noreferrer noopener" target="_blank" href="https://twitter.com/sorskoot"><img title="Twitter Logo" src="/images/twitter-3-64.png"/></a-href></span>
			<span><a class="social-link" title="Instagram" rel="noreferrer noopener" target="_blank" href="https://instagram.com/sorskootcodes"><img title="Instagram Logo" src="/images/instagram-3-64.png"/></a-href></span>
			<span><a class="social-link" title="Twitch" rel="noreferrer noopener" target="_blank" href="https://twitch.tv/sorskoot"><img title="Twitch Logo" src="/images/twitch-tv-64.png"/></a-href></span>
			<span><a class="social-link" title="Discord" rel="noreferrer noopener" target="_blank" href="https://discord.gg/J3j43p8"><img title="Discord Logo" src="/images/discord-64.png"/></a-href></span>
			<span><a class="social-link" title="Linkedin" rel="noreferrer noopener" target="_blank" href="https://www.linkedin.com/in/timmykokke/"><img title="LinkedIn Logo" src="/images/linkedin-6-64.png"/></a-href></span>
			
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
