<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta name="description" content="Weblog of Timmy Kokke on Web design, javascript game development, and virtual/augmented/mixed reality.">
	<meta name="author"      content="Timmy Kokke">
	<meta name="theme-color" content="#bd1550">

	<title>{{ .Title }}</title>

	<link rel="shortcut icon" href="{{ .Site.BaseURL }}/{{ .Site.Params.favicon }}">
	<link rel="manifest" href="{{ .Site.BaseURL }}/manifest.json"></link>
	<!-- Bootstrap -->
	 <link defer href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.no-icons.min.css" rel="stylesheet">
	<!-- Icons -->
	<link defer href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
	<!-- Fonts -->
	<link defer rel="stylesheet" href="https://fonts.googleapis.com/css?family=Bree+Serif|Open+Sans:300,700">
	<!-- Custom styles -->

	<link rel="stylesheet" type="text/css" href="{{ .Site.BaseURL }}/css/styles.css">

	<!--[if lt IE 9]> <script src="js/html5shiv.js"></script> <![endif]-->

    {{ if .Site.Params.customsharethis }}
        <script defer type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=custom-share-buttons"></script>
    {{ else }}
        <script defer type="text/javascript" src="https://platform-api.sharethis.com/js/sharethis.js#property={{ .Site.Params.sharethis.property }}&product=inline-share-buttons"></script>
    {{ end }}
    <script type="text/javascript" src="{{ .Site.BaseURL }}/sw-register.js"></script>

</head>
<body class="home">

<header id="header">
	
	<div id="head" class="parallax" parallax-speed="2">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="{{ .Site.BaseURL }}/images/guy.jpg" alt="">
			<span class="title">{{ .Site.Params.name }}</span>
			<span class="tagline">{{ .Site.Params.description }}<br>
				<a href="">{{ .Site.Params.email }}</a>
            </span>
		</h1>
	</div>

    {{ partial "menu.html" . }}

</header>
