<main id="main">

    <div class="container">
        {{ if .Site.Params.showSubheader }}
        {{ partial "subheader.html" . }}
        {{ end }}
    </div>
    <!-- ******************************************************** -->
    {{ if .Site.Params.showServices }}
    <div class="fixed-section-title fixed-blog">
        <div class="caption">
            <span class="border">WRITINGS</span>
        </div>
    </div>
    <div class="container">
        {{ partial "blog.html" . }}
    </div>
    {{ end }}
    <!-- ******************************************************** -->
    {{ if .Site.Params.showRecentWorks }}
    <div class="fixed-section-title fixed-arvr">
        <div class="caption">
            <span class="border">RECENT WORKS</span>
        </div>
    </div>
    <div class="container">
        {{ partial "recentworks.html" . }}
    </div>
    {{ end }}
    <!-- ******************************************************** -->
    {{ if .Site.Params.showAgenda }}

    <div class="fixed-section-title fixed-agenda">
        <div class="caption">
            <span class="border">AGENDA</span>
        </div>
    </div>

    <div class="container">
        {{ partial "agenda.html" . }}
        {{ end }}

        {{ if .Site.Params.showDownload }}
        {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
        {{ partial "clients.html" . }}
        {{ end }}

    </div> <!-- /container -->
    <!-- ******************************************************** -->
    {{ if .Site.Params.showGames }}
    
    <a name=games></a>
    <div class="fixed-section-title fixed-arvr">
        <div class="caption">
            <span class="border">GAMES</span>
        </div>
    </div>
    <div class="container">
        {{ partial "games.html" . }}
    </div>
    {{ end }}
</main>