<main id="main">

	<div class="container">

        {{ if .Site.Params.showSubheader }}
            {{ partial "subheader.html" . }}
        {{ end }}

        {{ if .Site.Params.showServices }}
    </div>
    <div class="fixed-section-title fixed-blog">
        <div class="caption">
            <span class="border">WRITINGS</span>
          </div>        
    </div>
    <div class="container">
            {{ partial "blog.html" . }}
        {{ end }}
        {{ if .Site.Params.showRecentWorks }}
    </div>
    <div class="fixed-section-title fixed-arvr">
        <div class="caption">
            <span class="border">RECENT WORKS</span>
          </div>        
    </div>
    <div class="container">        
            {{ partial "recentworks.html" . }}
        {{ end }}

        {{ if .Site.Params.showAgenda }}
    </div>
    <div class="fixed-section-title fixed-agenda">
        <div class="caption">
            <span class="border">AGENDA</span>
          </div>        
    </div>
    <div class="container">
           {{ partial "agenda.html" . }}
        {{ end }}
    
        {{ if .Site.Params.showDownload }}
            {{ partial "download.html" . }}
        {{ end }}

        {{ if .Site.Params.showClients }}
            {{ partial "clients.html" . }}
        {{ end }}

	</div>	<!-- /container -->

</main>
